body,
html {
    font-family: 'Chakra Petch', serif;
    background: rgb(209,193,200);
    background: radial-gradient(circle, rgba(209,193,200,1) 0%, rgba(128,150,176,1) 100%); 
    color: #ffffff;
    overflow: hidden;
}

.contact {
    padding-left: 16px;
}

.container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.project {
    flex-basis: calc(33.333% - 20px);
    /* Subtract some pixels for margin */
    margin: 10px;
    color: black;
    /* Text color */
    text-decoration: none;
    /* Remove underline from links */
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: block;
}

.project img {
    width: 100%;
    /* Full width of the container */
    height: 500px;
    /* Fixed height */
    object-fit: cover;
    /* Resize the image to maintain its aspect ratio while filling the container */
    border-bottom: 1px solid #eee;
    /* Optional: adds a line below the thumbnail */
}

.project h3 {
    margin-top: 10px;
}

.project p {
    margin-top: 5px;
}

/* Responsive adjustments */
@media (max-width: 960px) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .project {
        flex-basis: calc(50% - 20px);
        /* Adjust the width for wrapping */
    }
}

@media (max-width: 600px) {
    .project {
        flex-basis: 100%;
        /* Full width on very small screens */
    }
}

/* Unvisited link */
.contact:link {
    color: rgb(255, 255, 255);
}

/* Visited link */
.contact:visited {
    color: rgb(255, 255, 255);
}

/* Mouse over link */
.contact:hover {
    color: rgb(205, 205, 205);
}

/* Selected link */
.contact:active {
    color: rgb(255, 255, 255);
}

/* Add hover effect for project links */
.project {
    position: relative;
    overflow: hidden;
}

.project:hover img {
    transform: scale(0.975);
}

.project img {
    transition: transform 0.1s ease;
}

.project:hover h3,
.project:hover p {
    background: #ffffff; /* Change color on hover */
}
