body {
    background-color: #2b2b2b;
    color: #bebbaf;
    font-family: 'IBM Plex Mono', monospace;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 20px;
    margin-top: 0px;
}

.about {
    font-size: 48px;
    font-style: normal;
    padding-left: 6vw;
    padding-top: 6vh;
}

p {
    padding-left: 128px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .text-content {
    max-width: 50%;
  }
  
  .image {
    flex-shrink: 0;
    margin-right: 200px;
  }
  
  .image img {
    width: 400px;
    height: auto;
    border: 8px solid #000;
  }

nav {
    list-style-type: none;
    background-color: #bebbaf;
    color: #2b2b2b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 20px;
    margin-top: 0px;
}

footer {
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #bebbaf;
    padding: 32px 8px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 200px;
}

.footer-links li {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.footer-links a {
    text-decoration: none;
    color: #bebbaf;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.footer-links a:hover {
    text-decoration: underline;
}

.icon {
    display: block;
    background-color: #bebbaf;
    color: #2b2b2b;
    font-size: 20px;
    margin-right: 5px;
}

nav ul {
    padding: 0;
    margin: 0;
}

@keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  .typing-cursor {
    border-right: 2px solid #bebbaf;
    animation: blink 0.75s step-end infinite;
  }

#typing-effect {
    min-width: 50px;  /* Adjust width as needed to fit your full text */
    display: inline-block; /* Keeps the width constant even when content is short */
    white-space: nowrap;  /* Ensures text doesn't wrap and respects the width */
}